* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --padding: 10px;
  --color: steelblue;
  --text-align: center;
  --height: auto;
}


main {
  max-width: 840px;
}

nav {
  background-color: var(--color);
  padding: var(--padding);
}

nav a {
  color: white;
  padding: var(--padding);
  display: block;
}

h1 {
  color: var(--color);
}

aside h2 {
  position: absolute;
  top: 399px;
  left: 140px;
}

aside {
  width: 20rem;
  text-align: var(--text-align);
}

aside img {
  width: 200px;
  height: var(--height);
}

main img {
  float: right;
  width: 150px;
  height: var(--height);
  border: 1px solid steelblue;
  padding: 2px;
  box-shadow: 0 0 30px gray;
}


p { 
  padding: 0px;
}

footer {
  margin-top: 15px;
  border-top: 1px solid #000;
  text-align: var(--text-align);
}

/* CSS class selector */

.box {
  margin: 1rem;
  padding: 1rem;
  border: 1px solid rpg(0 0 0 / 0.2);
  background-color: #ddd;
  color: black;
}