* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --home-color: darkblue;
    --text-position: center;
}

nav {
    background-color: var(--home-color);
    padding-right: 3px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}

h1 {
    color: var(--home-color);
    margin: 15px;
}

p {
    padding: 0;
    margin: 15px;

}

aside {
    width: 20rem;
    text-align: var(--text-position);
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    border-top: 1px solid black;
    margin-top: 15px;
    text-align: var(--text-position);
}

/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: #eee;
    color: black;
}

.box h2 {
    position: absolute;
    left: 70px;
    top: 20px;
    font-size: medium;
}

.indent {
    padding-left: 2rem;
    border: 15px;
}